html {
   height: 100%;
   box-sizing: border-box;
   font-size: 100%;
}
*, *:before, *:after {
   box-sizing: inherit;
}
body {
   height: 100%;
   margin: 0px;
   padding: 0px;
   background-color: #222;
   color: #ddd;
   font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
   font-size: 0.9em;
}
a:link {
   color: #16a;
}
a:visited {
   color: #16a;
}
a:hover {
   color: #61a;
}
a:active {
   color: #61a;
}
h1 {
   text-align: center;
}
#top_bar {
   text-align: center;
   height: 32px;
   overflow: hidden;
   background-color: #222;
   color: #444;
}
#chart_container {
   width: 100%;
   padding: 0px;
   margin: 0px;
   height: calc(100% - 32px);
}
#chart_tree {
   border-right: 2px solid #000;
   padding: 4px;
   margin: 0px;
   background-color: #fff;
   color: #000;
   width: 15%;
   height: 100%;
   float: left;
   overflow: auto;
}
#chart_canvas {
   padding: 0px;
   margin: 0px;
   height: 100%;
   float: left;
}
#chart_canvas.show_left {
   width: 85%;
}
#chart_canvas.hide_left {
   width: 100%;
}
#box_overlay {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: #000;
   opacity: 0;
   cursor: not-allowed;
   display: none;
}
div.box_dialog {
   position: absolute;
   top: 5%;
   left: 15%;
   color: #222;
   background-color: #fff;
   width: 70%;
   height: 90%;
   overflow: auto;
   opacity: 0;
   border: 1px solid #000;
   padding: 16px;
   box-shadow: 0px 0px 16px #000;
   display: none;
}
div.csv_options {
   border-left: 1px solid #666;
   padding: 8px;
   margin: 16px;
}
div.box_tooltip {
   position: absolute;
   background-color: #222;
   color: #ddd;
   display: inline-block;
   border: 1px solid #000;
   padding: 4px 8px;
   box-shadow: 0 0 16px #000;
}
div.ui_flag {
   margin-top: 2px;
   width: 28px;
   height: 28px;
   display: inline-block;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   cursor: pointer;
}
div.ui_flag_icon {
   border-radius: 4px;
   padding-top: 4px;
   vertical-align: top;
   font-size: 1.25em;
   color: #000;
   background-color: #fff;
   transition: background-color 0.2s ease 0s;
}
div.ui_flag_icon:hover {
   background-color: #aaa;
   transition: background-color 0.2s ease 0s;
}
div.ui_flag_icon_selected {
   box-shadow: 0px 0px 8px #000 inset;
}
div.ui_flag_icon_disabled {
   color: #300;
   background-color: #666;
   cursor: not-allowed;
   display: none;
}
p.info_text {
   display: inline-block;
   position: absolute;
   top: 0px;
   right: 0px;
   color: #888;
   font-size: 0.8em;
   margin: 2px;
}
div.spacer {
   line-height: 9px;
   margin-top: 2px;
   width: 28px;
   height: 28px;
   padding-top: 10px;
   display: inline-block;
   font-weight: bold;
   vertical-align: top;
}
div.spacer:before {
   content: '|';
}
div.option_label {
   display: inline-block;
   min-width: 170px;
   padding-right: 10px;
}
span.explanation {
   font-style: italic;
   font-size: 0.85em;
   color: #666;
}
