div.tv_node {
   padding: 2px;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   cursor: pointer;
   min-width: 512px;
}
div.tv_node div.tv_node {
   margin-left: 16px;
}
div.tv_branch {
   font-weight: bold;
}
div.tv_leaf {
   font-weight: normal;
}
