/node_modules/

.DS_Store

/.idea/

*.zip
.eslintcache
/public/*.js
*.map
/public/*.css
src/**/*.generated.json
/cypress/videos
/cypress/screenshots
*.log
__diff_output__
*.tgz
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
