#epivis {
  display: grid;
  grid-template-areas:
    'side menu'
    'side main';
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
}

.shepherd-epivis-tour {
  line-height: 1.5rem;
}
